<!DOCTYPE html>
<html ng-app="mathapp">
<head>
    <title>Formula system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.min.css" />


</head>

<body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<div ng-controller="testsController as tc">
<h3>Dynamic formulas <small>constructed on the fly with help of arithmetic expression parser in PEGjs</small></h3>
    <!--system or common argument-->
    <div class="panel panel-default">
        <div class="panel-heading  row-fluid">
            <h4>Shared arguments representing a case</h4>
        </div>

        <div class="panel-body container-fluid">
            <div class="row">
                <!--argument-->
                <div class="col-md-1" ng-repeat="sharedArgument in sharedArguments track by $index">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="name" ng-model="sharedArguments[$index].key" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="value" ng-model="sharedArguments[$index].value" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <button type="button" class="btn btn-danger btn-sm" ng-click="removeSharedArgument(sharedArgument)">Remove</button>
                    </div>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="addSharedArgument()">Add argument</button>
                </div>
            </div>
        </div>
    </div>
    <!--formula-->
    <div>
        <h4>Formula system</h4>
        <div ng-repeat="formula in formulas">
            <div ng-controller="formulaController">
                <div class="panel panel-default">
                    <div class="panel-heading  row-fluid">

                        <div class="input-group">
                                <input type="text" name="name" class="form-control" placeholder="name" ng-model="formula.name"
                                       aria-describedby="basic-addon1" data-toggle="tooltip" title="Just a name" >
                                <span class="input-group-addon" id="basic-addon2" ng-click="removeFormula(formula)">Remove formula</span>
                        </div>


                    </div>
                    <div class="panel-body container-fluid">
                        <div class="row">
                            <!--argument-->


                            <div class="col-md-1" ng-repeat="argument in formula.arguments track by $index">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="name" ng-model="formula.arguments[$index].name" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="value" ng-disabled="formula.arguments[$index].nullify"
                                           ng-model="formula.arguments[$index].value" aria-describedby="basic-addon1">
                                </div>
                                <label>Pick global?</label>
                                <input type="checkbox" class="form-control" placeholder="value" ng-model="formula.arguments[$index].nullify" aria-describedby="basic-addon1">

                                <div class="input-group">
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="removeArgument(argument)">Remove</button>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="addArgument(formula)">Add argument</button>
                            </div>
                            <div class="col-md-3">
                                <!--expression-->
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="expression" aria-describedby="basic-addon1" ng-model="formula.expression">
                                </div>

                            </div>
                            <div class="col-md-2">
                                <pre class="pre-scrollable "><small>{{formula| json}}</small></pre>
                            </div>
                            <!--<div class="col-md-2">-->
                                <!--<pre class="pre-scrollable "><small>{{formula.function.toString()}}</small></pre>-->
                            <!--</div>-->
                        </div>
                        <div class="row">
                            <div class="alert text-uppercase" ng-class="formula.style" role="alert" ng-bind-html="formula.message"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" ng-click="addFormula()">Add formula</button>

    </div>
</div>
<script src="js/main.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
</body>
</html>
